<section class="Tarea__choice">
  <section class="Tarea__choice-img">
      <img src="../../../../assets/imagesHome/library.png" alt="Imagen de biblioteca">
      <img src="../../../../assets/imagesHome/fondomazo.png" alt="Imagen de la corte">
  </section>
  <section class="Tarea__choice-contenido">
      <div class="Tarea__choice-title">
          <h2>The Simple choice <br>for Complex Litigation</h2>
          <img class="Tarea__choice-title" src="../../../../assets/imagesHome/Sep.png" alt="">
      </div>

      <div class="Tarea__choice-info">
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have su alteration
              <br>in some form, by injected humour, oir randomised workds which don't look even slightly believable.
              <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.</p>
      </div>
      <div class="Tarea__choice-usuario">
          <div class="Tarea__choice-imagen_usuario">
              <img src="../../../../assets/imagesHome/petter.png" alt="Imagen usuario">
          </div>
          <div class="Tarea__choice-nombre_usuario">
              <h3>Peeter Park</h3>
          </div>
      </div>
      <div class="Tarea__choice-final">
          <div class="Tarea__choice-case">
              <img src="../../../../assets/imagesHome/acta.png" alt="papel y lapiz">
              <p>95% <br>Case Success</p>
          </div>
          <div class="Tarea__choice-years">
              <img src="../../../../assets/imagesHome/choice+35.png" alt="">
              <p>Years <br>Experiance</p>
          </div>
      </div>

  </section>
