<main class="tasks">
  <section class="content">
      <section class="container">
          <section class="attorney">
              <article class="border_backg">
                  <div class="image_attorney">
                      <img src="../../../assets/imagesAbout/attorney.png" alt="">
                  </div>
              </article>
          </section>
          <section class="content_info">
              <img src="../../../assets/imagesHome/Sep.png" alt="sep">
              <h1>I'm Peeter Park,
              <br> a Business lawyer</h1>
              <p>There are many variations of passages of Lorem Ipsum available, but
              <br>majority have su alteration in some form, by injected humour, randomised
              <br>workds for which don't look even slightly believable. If you are going to use
              <br>a passage of Lorem Ipsum, you need to be sure there isn't anything.</p>
              <div class="follow">
                  <img src="../../../assets/imagesHome/InstaW.png" alt="Instagram">
                  <img src="../../../assets/imagesHome/FbW.png" alt="Facebook">
                  <img src="../../../assets/imagesHome/TwiterW.png" alt="Twiter">
                  <img src="../../../assets/imagesHome/pinterest.png" alt="Pinterest">
              </div>
              <button>Get An Appoinment</button>
          </section>
      </section>
      <section class="story">
        <section class="content_story">
          <h2>Our Story</h2>
          <div>
            <img src="../../../assets/imagesHome/slepcenter.png" alt="sep">
          </div>
          <p>Since 2012, Solicians Law Firm has served over 2,500+ clients with
            <br>various law disputes. Our lawyers represent a wide range of clients,
            <br>but clients with complex legal issues and/or high conflict situations
            <br>will benefit most from our law firm.</p>
        </section>
        <section class="images_story">
            <img src="../../../assets/imagesAbout/mazo.png" alt="Mazo">
            <img src="../../../assets/imagesAbout/balanza.png" alt="Balanza">
            <img src="../../../assets/imagesAbout/library.png" alt="Library">
        </section>
      </section>
    </section>
</main>
<app-specialised></app-specialised>
<app-offer></app-offer>
<app-attorney></app-attorney>
<app-client></app-client>
<app-partnets></app-partnets>
