<footer>
  <section class="tasks">
    <div class="title">
        <img src="../../../assets/imagesHome/lineasI.png" alt="">
        <div class="title_logo">
            <img src="../../../assets/imagesHome/logo.png" alt="Logo">
            <h1>Attorneyster</h1>
        </div>
        <img src="../../../assets/imagesHome/lineasD.png" alt="Logo">
    </div>
    <section class="content">
      <div class="content_info">
          <div class="content_info--title">
              <h3>Quick Link</h3>
          </div>
          <nav class="content_info--text">
            <a routerLink="/">Home</a>
            <a routerLink="/about">About</a>
            <a href="#">Single</a>
            <a href="#">Cases</a>
          </nav>
      </div>
      <div class="content_info">
          <div class="content_info--title center">
              <h3>Utility Page</h3>
          </div>
          <article class="content_info--text">
            <p>Start Here</p>
            <p>Slyle Guide</p>
            <p>Password Protected</p>
            <p>Licenses</p>
          </article>
      </div>
      <div class="content_info">
          <div class="content_info--title center">
              <h3>Practice Area</h3>
          </div>
          <article class="content_info--text">
            <p>Family Law</p>
            <p>Criminal Law</p>
            <p>Parsonal Injury</p>
            <p>Real Estate Law</p>
            <p>Business Law</p>
          </article>
      </div>
      <div class="content_info">
          <div class="content_info--title large">
              <h3>Contact Us</h3>
          </div>
          <article class="content_info--text">
            <p>Head Office Address 121 King Street,
            <br> Melbourne West, Australia</p>
            <p>Phone:(011)9876 54321
            <br> Email: Info&#64;Ecample.com
            </p>
          </article>
      </div>
    </section>
    <section class="follow">
        <div class="follow_info">
            <p>Copyright ©<span> Attorney Law </span> | Designed by <span> VictorFlow </span> Templates - Powered by Webflow</p>
        </div>
        <div class="follow_images">
          <p>Follow:</p>
          <img src="../../../assets/imagesHome/InstaW.png" alt="Instagram">
          <img src="../../../assets/imagesHome/FbW.png" alt="Facebook">
          <img src="../../../assets/imagesHome/TwiterW.png" alt="Twiter">
          <img src="../../../assets/imagesHome/pinterest.png" alt="pinterest">
        </div>
    </section>
  </section>
</footer>
