<section class="Tarea__lawyers">
  <section class="Tarea__lawyers--bloque">

      <section class="Tarea__lawyers--historia">
          <div class="Tarea__lawyers--historia-title">
              <h2>We Are Top Lawyers
            <br>  And History</h2>
              <img src="../../../../assets/imagesHome/Sep.png" alt="icono sep">
          </div>
          <div class="Tarea__lawyers--historia--opening">
              <h4>1995-Opening</h4>
              <p>There are many variations of passages
                 <br> of Lorem Ipsum available, but majority
                 <br> going to use a passage.</p>
          </div>
          <div class="Tarea__lawyers--historia--opening">
              <h4>2011 – Open Branch Office</h4>
              <p>There are many variations of passages
                 <br> of Lorem Ipsum available, but majority
                 <br> going to use a passage.</p>
          </div>
          <div class="Tarea__lawyers--historia--opening">
              <h4>2015 – 18000K Client’s</h4>
              <p>There are many variations of passages
                 <br> of Lorem Ipsum available, but majority
                 <br> going to use a passage.</p>
          </div>
          <div class="Tarea__lawyers--historia--opening">
              <h4>2020– Best Law & Firm Awwards</h4>
              <p>There are many variations of passages
                 <br> of Lorem Ipsum available.</p>
          </div>


      </section >
      <section class="Tarea__lawyers--imagen">
          <img class="Tarea__lawyers--imagen" src="../../../../assets/imagesHome/balanzaVertical.png" alt="">
      </section>

      <section class="Tarea__lawyers--experienced">
          <div class="Tarea__lawyers--experienced--title">
              <h2>We Are Specialised
            <br>  And Experienced</h2>
              <img src="../../../../assets/imagesHome/Sep.png" alt="">
          </div>
          <div class="Tarea__lawyers--experienced--info">
              <p>At vero eos et accusamus et iusto odio dignissimos
                  ducimus qui blanditiis praesentium deleniti atque
                  corrupti quos  molestias excepturi odio dignissimos
                  ducimus qui blanditiis sint occaecati .</p>
          </div>
          <div class="Tarea__lawyers--experienced--pocent">
              <div class="Tarea__lawyers--experienced--pocent">
                  <div class="Tarea__lawyers--experienced--pocent-espacio">
                      <p>Divorce And Family Cases</p>
                      <p>75%</p>
                  </div>
                  <input type="range" name="" id="" min="0" max="100" value="75">
              </div>
              <div class="Tarea__lawyers--experienced--pocent">
                  <div class="Tarea__lawyers--experienced--pocent-espacio">
                      <p>Property And Construction</p>
                      <p>80%</p>
                  </div>
                  <input type="range" name="" id="" min="0" max="100" value="80">
              </div>
              <div class="Tarea__lawyers--experienced--pocent">
                  <div class="Tarea__lawyers--experienced--pocent-espacio">
                      <p>Banking And Finance</p>
                      <p>75%</p>
                  </div>
                  <input type="range" name="" id="" min="0" max="100" value="75">
              </div>
              <div class="Tarea__lawyers--experienced--pocent">
                  <div class="Tarea__lawyers--experienced--pocent-espacio">
                      <p>Banking And Finance</p>
                      <p>90%</p>
                  </div>
                  <input type="range" name="" id="" min="0" max="100" value="90">
              </div>
          </div>
          <div class="Tarea__lawyers--experienced--btn">
              <button>Free Consulting</button>
          </div>
      </section>
  </section>
</section>
