
<section class="Tarea__blogs">
  <div class="Tarea__blogs--title">
      <h2>Recent Blogs</h2>
      <img src="../../../../assets/imagesHome/slepcenter.png" alt="">
  </div>
  <section class="Tarea__blogs--firma">
      <div class="Tarea__blogs--firma-imagen">
          <img src="../../../../assets/imagesHome/contract.png" alt="firmando">
      </div>
      <div class="Tarea__blogs--firma--contenido">
          <div class="Tarea__blogs--firma--contenido-fecha">
              <p> Criminal Law, Kidnapping   |   Sunday, July 24, 2022  </p>
          </div>
          <div class="Tarea__blogs--firma--contenido--title">
              <h2>An Independent Examination Of
          <br> Charity Accounts</h2>
          </div>
          <div class="Tarea__blogs--firma--contenido--info">
              <p>There are  of Lorem Ipsum available, but the majority have su alteration in some form,
                  by injected oir  which don't look even slightly believable.</p>
          </div>
          <div class="Tarea__blogs--firma--contenido--info_mas">
               <a href="">Read More</a>
          </div>
      </div>
  </section>
  <section class="Tarea__blogs--reglamento">
      <div class="Tarea__blogs--reglamento_div">
          <div class="Tarea__blogs--reglamento_imagen">
              <img src="../../../../assets/imagesHome/tribunalF.png" alt="templo">
          </div>
          <div class="Tarea__blogs--reglamento_fecha">
              <p>Legal Advice   |   Sunday, July 24, 2022 </p>
          </div>
          <div class="Tarea__blogs--reglamento_title">
              <h3>Prevent A Further Breach of The
                  Peace In The States</h3>
          </div>
          <div class="Tarea__blogs--reglamento_info">
              <p>There are  of Lorem Ipsum available, but majority have su alteration in some form,
                  by injected oir  which don't look even slightly believable.</p>
          </div>
          <div class="Tarea__blogs--reglamento_info-mas">
              <a href="">Read More</a>
          </div>
      </div>
      <div class="Tarea__blogs--reglamento_div">
          <div class="Tarea__blogs--reglamento_imagen">
              <img src="../../../../assets/imagesHome/books.png" alt="biblioteca">
          </div>
          <div class="Tarea__blogs--reglamento_fecha">
              <p>Legal Advice   |   Friday, August 15, 2022 </p>
          </div>
          <div class="Tarea__blogs--reglamento_title">
              <h3>Failing to Carry Out The Terms <br> of A Business Contract</h3>
          </div>
          <div class="Tarea__blogs--reglamento_info">
              <p>There are  of Lorem Ipsum available, but majority have su alteration in some form,
                  by injected oir  which don't look even slightly believable.</p>
          </div>
          <div class="Tarea__blogs--reglamento_info-mas">
              <a href="">Read More</a>
          </div>
      </div>
      <div class="Tarea__blogs--reglamento_div">
          <div class="Tarea__blogs--reglamento_imagen">
              <img src="../../../../assets/imagesHome/libraryD.png" alt="libros">
          </div>
          <div class="Tarea__blogs--reglamento_fecha">
              <p>Legal Advice   |   Sunday, July 24, 2022 </p>
          </div>
          <div class="Tarea__blogs--reglamento_title">
              <h3>How Legal Professionals Work:
              <br> The Defense Objects In The Event</h3>
          </div>
          <div class="Tarea__blogs--reglamento_info">
              <p>There are  of Lorem Ipsum available, but majority have su alteration in some form,
                  by injected oir  which don't look even slightly believable.</p>
          </div>
          <div class="Tarea__blogs--reglamento_info-mas">
              <a href="">Read More</a>
          </div>
      </div>
  </section>
  <section class="Tarea__blogs--reglamento">
      <div class="Tarea__blogs--reglamento_div">
          <div class="Tarea__blogs--reglamento_imagen">
              <img src="../../../../assets/imagesHome/attorney.png" alt="hombre">
          </div>
          <div class="Tarea__blogs--reglamento_fecha">
              <p>Legal Advice   |   Sunday, July 24, 2022 </p>
          </div>
          <div class="Tarea__blogs--reglamento_title">
              <h3>Riding solo to the rescue of <br> her beloved nonprofits</h3>
          </div>
          <div class="Tarea__blogs--reglamento_info">
              <p>There are  of Lorem Ipsum available, but majority have su alteration in some form,
                  by injected oir  which don't look even slightly believable.</p>
          </div>
          <div class="Tarea__blogs--reglamento_info-mas">
              <a href="">Read More</a>
          </div>
      </div>
      <div class="Tarea__blogs--reglamento_div">
          <div class="Tarea__blogs--reglamento_imagen">
              <img src="../../../../assets/imagesHome/camionQ.png" alt="Sobras de camion">
          </div>
          <div class="Tarea__blogs--reglamento_fecha">
              <p>Legal Advice   |   Friday, August 15, 2022 </p>
          </div>
          <div class="Tarea__blogs--reglamento_title">
              <h3>Case Filed on Behalf of Injured <br> Tugboat Worker</h3>
          </div>
          <div class="Tarea__blogs--reglamento_info">
              <p>There are  of Lorem Ipsum available, but majority have su alteration in some form,
                  by injected oir  which don't look even slightly believable.</p>
          </div>
          <div class="Tarea__blogs--reglamento_info-mas">
              <a href="">Read More</a>
          </div>
      </div>
      <div class="Tarea__blogs--reglamento_div">
          <div class="Tarea__blogs--reglamento_imagen">
              <img src="../../../../assets/imagesHome/fbi.png" alt="templo">
          </div>
          <div class="Tarea__blogs--reglamento_fecha">
              <p>Legal Advice   |   Sunday, July 24, 2022 </p>
          </div>
          <div class="Tarea__blogs--reglamento_title">
              <h3>How Companies Choose Legal <br> Representation</h3>
          </div>
          <div class="Tarea__blogs--reglamento_info">
              <p>There are  of Lorem Ipsum available, but majority have su alteration in some form,
                  by injected oir  which don't look even slightly believable.</p>
          </div>
          <div class="Tarea__blogs--reglamento_info-mas">
              <a href="">Read More</a>
          </div>
      </div>
  </section>
</section>
<section class="background"></section>
