<section class="Tarea__client">
  <section class="Tarea__client--bloque">
      <div class="Tarea__client--title">
          <h2>Client Opinions & Reviews</h2>
          <img src="../../../../assets/imagesHome/slepcenter.png" alt="">
      </div>
  <section class="Tarea__client--bloque-usuarios">
      <div class="Tarea__client--usuario">
          <div class="Tarea__client--usuario-info_fondo">
              <div class="Tarea__client--usuario-info">
                  <img src="../../../../assets/imagesHome/comillas.png" alt="comillas">
                  <p>There are  of Lorem Ipsum
                      available, but the majority
                      have su alteration in some
                      form, by injected oir  which
                      don't look even slightly
                      believable.</p>
              </div>
          </div>
          <div class="Tarea__client--usuario-imagen">
              <img src="../../../../assets/imagesHome/nattasha.png" alt="natasha">
              <div class="Tarea__client--usuario-nombre">
                  <h3>Nattasha</h3>
                  <p> Junior Lawyer</p>
              </div>

          </div>
      </div>
      <div class="Tarea__client--usuario">
          <div class="Tarea__client--usuario-imagen Tarea__Client-revers">
              <img src="../../../../assets/imagesHome/minci.png" alt="natasha">
              <div class="Tarea__client--usuario-nombre">
                  <h3>Minci pall</h3>
                  <p> Consultant</p>
              </div>
          </div>
          <div class="Tarea__client--usuario-info_fondo Tarea__Client-revers--fondo">
              <div class="Tarea__client--usuario-info">
                  <img src="../../../../assets/imagesHome/comillas.png" alt="comillas">
                  <p>There are  of Lorem Ipsum
                      available, but the majority
                      have su alteration in some
                      form, by injected oir  which
                      don't look even slightly
                      believable.</p>
              </div>
          </div>

      </div>
      <div class="Tarea__client--usuario">
          <div class="Tarea__client--usuario-info_fondo">
              <div class="Tarea__client--usuario-info">
                  <img src="../../../../assets/imagesHome/comillas.png" alt="comillas">
                  <p>There are  of Lorem Ipsum
                      available, but the majority
                      have su alteration in some
                      form, by injected oir  which
                      don't look even slightly
                      believable.</p>
              </div>
          </div>
          <div class="Tarea__client--usuario-imagen">
              <img src="../../../../assets/imagesHome/julia.png" alt="natasha">
              <div class="Tarea__client--usuario-nombre">
                  <h3>Julia Rose</h3>
                  <p> Consultant</p>
              </div>

          </div>
      </div>
      <div class="Tarea__client--usuario">
          <div class="Tarea__client--usuario-imagen Tarea__Client-revers">
              <img src="../../../../assets/imagesHome/jhon.png" alt="natasha">
              <div class="Tarea__client--usuario-nombre">
                  <h3>John David</h3>
                  <p>Designer</p>
              </div>
          </div>
          <div class="Tarea__client--usuario-info_fondo Tarea__Client-revers--fondo">
              <div class="Tarea__client--usuario-info">
                  <img src="../../../../assets/imagesHome/comillas.png" alt="comillas">
                  <p>There are  of Lorem Ipsum
                      available, but the majority
                      have su alteration in some
                      form, by injected oir  which
                      don't look even slightly
                      believable.</p>
              </div>
          </div>

      </div>
  </section>
  </section>

</section>
