<main>
  <section class="presentation">
    <div class="info_presentation">
      <img src="../../../assets/imagesHome/Sep.png" alt="">
      <h1>Deeper Understanding <br>Better Solutions</h1>
      <p>It is a long established fact that a reader will be distracted
      <br>by the readable content of a looking at its layout.</p>
      <button>Get In Touch</button>
    </div>
  </section>
  <app-choice></app-choice>
  <app-explore></app-explore>
  <app-trouble></app-trouble>
  <app-lawyers></app-lawyers>
  <app-client></app-client>
  <app-attorney></app-attorney>
  <app-expert></app-expert>
  <app-appoinment></app-appoinment>
  <app-blogs></app-blogs>
</main>

