<section class="Tarea__explore">
  <section class="encabezado__explore">
      <div class="Tarea__explore--title">
          <h2>Explore <br>Our Practice Arease</h2>
          <img src="../../../assets/imagesHome/Sep.png" alt="Sep">
      </div>
      
      <div class="Tarea__explore--info">
          <p>There <strong>are many variations of passages</strong> of Lorem Ipsum available, but the majority have su alteration in some form, by injected humour,
              oir <strong>randomised workds</strong> which don't look even slightly believable.</p>
      </div>
  </section>

  <section class="Tarea__explore--bloques">
      <div class="Tarea__explore--bloques_style">
          <div class="Tarea__explore--bloques_title">
              <h3>Business Law</h3>
          </div>
          <div class="Tarea__explore--bloques_info">
              <p>There are many variations of passages
                  of Lorem Ipsum available, but majority
                  going to use a passage.</p>
          </div>
          <div class="Tarea__explore--bloques_btn">
              <img src="../../../../assets/imagesHome/portafolio.png" alt="Portafolio">
              <button>Learn More</button>
          </div>
      </div>

      <div class="Tarea__explore--bloques_style">
          <div class="Tarea__explore--bloques_title">
              <h3>Construction Law</h3>
          </div>
          <div class="Tarea__explore--bloques_info">
              <p>There are many variations of passages
                  of Lorem Ipsum available, but majority
                  going to use a passage.</p>
          </div>

          <div class="Tarea__explore--bloques_btn">
              <img src="../../../../assets/imagesHome/edificio.png" alt="edificio">
              <button>Learn More</button>
          </div>
      </div>
      <div class="Tarea__explore--bloques_style">
          <div class="Tarea__explore--bloques_title">
              <h3>Car Accident</h3>
          </div>
          <div class="Tarea__explore--bloques_info">
              <p>There are many variations of passages
                  of Lorem Ipsum available, but majority
                  going to use a passage.</p>
          </div>

          <div class="Tarea__explore--bloques_btn btn_explore--color">
              <img src="../../../../assets/imagesHome/camion.png" alt="Carro">
              <button>Learn More</button>
          </div>
      </div>

      <div class="Tarea__explore--bloques_style">
          <div class="Tarea__explore--bloques_title">
              <h3>Wrongful Death</h3>
          </div>
          <div class="Tarea__explore--bloques_info">
              <p>There are many variations of passages
                  of Lorem Ipsum available, but majority
                  going to use a passage.</p>
          </div>
          <div class="Tarea__explore--bloques_btn">
              <img src="../../../../assets/imagesHome/tumba.png" alt="Rip">
              <button>Learn More</button>
          </div>
      </div>
      <div class="Tarea__explore--bloques_style">
          <div class="Tarea__explore--bloques_title">
              <h3>Criminal Law</h3>
          </div>
          <div class="Tarea__explore--bloques_info">
              <p>There are many variations of passages
                  of Lorem Ipsum available, but majority
                  going to use a passage.</p>
          </div>

          <div class="Tarea__explore--bloques_btn">
              <img src="../../../../assets/imagesHome/esposas.png" alt="esposas">
              <button>Learn More</button>
          </div>
      </div>
      <div class="Tarea__explore--bloques_style">
          <div class="Tarea__explore--bloques_title">
              <h3>Family Law</h3>
          </div>
          <div class="Tarea__explore--bloques_info">
              <p>There are many variations of passages
                  of Lorem Ipsum available, but majority
                  going to use a passage.</p>
          </div>
          <div class="Tarea__explore--bloques_btn">
              <img src="../../../../assets/imagesHome/personas.png" alt="Familia">
              <button>Learn More</button>
          </div>
      </div>
  </section>
</section>
