<main>
  <div class="image">
    <img src="../../../../assets/imagesAbout/contract.png" alt="">
  </div>
  <section class="content_info">
    <div class="content_info--title">
      <h2>We Are Specialised
      <br>And Experienced</h2>
      <img src="../../../../assets/imagesAbout/SepB.png" alt="">
    </div>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui
    <br>blanditiis praesentium deleniti atque corrupti quosxcepturi odio
    <br>dignissimos ducimus qui blanditiis sint occaecati .</p>

    <div class="Task__porcent">
      <div class="Task__porcent">
          <div class="Task__porcent-espacio">
              <p>Divorce And Family Cases</p>
              <p>75%</p>
          </div>
          <input type="range" name="" id="" min="0" max="100" value="75">
      </div>
      <div class="Task__porcent">
          <div class="Task__porcent-espacio">
              <p>Property And Construction</p>
              <p>80%</p>
          </div>
          <input type="range" name="" id="" min="0" max="100" value="80">
      </div>
      <div class="Task__porcent">
          <div class="Task__porcent-espacio">
              <p>Banking And Finance</p>
              <p>75%</p>
          </div>
          <input type="range" name="" id="" min="0" max="100" value="75">
      </div>
      <div class="Task__porcent">
          <div class="Task__porcent-espacio">
              <p>Banking And Finance</p>
              <p>90%</p>
          </div>
          <input type="range" name="" id="" min="0" max="100" value="90">
      </div>
    </div>
  </section>
</main>
