<section class="Task_expert">
  <section class="Task_expert--bloque">
      <div class="Task_expert--contenido">
          <div class="Task_expert--title">
              <h2>Our Expert professional law team
                  is always ready to serve you the
                  best solution!</h2>
          </div>
          <div class="Task_expert--info">
              <p>There are  of Lorem Ipsum available, but the majority have su
              <br>alteration in some form,by injected oir  which don't look even
              <br>slightly believable.</p>
          </div>
          <div class="Task_expert--btn">
              <button>Contact Us</button>
          </div>
      </div>

      <section class="Task_expert--consulta">
          <div class="Task_expert--consulta_marco">
              <div class="Task_expert--consulta-title">
                  <h2>Get a Free Consultation</h2>
              </div>
              <div class="Task_expert--consulta-info">
                  <p>There are  of Lorem Ipsum available,
                  but the majority by injected humour  which don't look even.</p>
              </div>
              <div class="Task_expert--consulta-contacto">
                  <img src="../../../../assets/imagesHome/tell.png" alt="telefono">
                  <div class="Task_expert--consulta-contacto_numero">
                      <p>Call Us on <br> <strong>911-987654321</strong></p>
                  </div>
              </div>
          </div>

      </section>
  </section>
</section>
