<section class="Task_attorney">
  <section class="Task_attorney--bloque">
      <div class="Task_attorney--title">
          <h2>Our Experienced Attorney Are Ready
            <br>To answer any questions</h2>
          <img src="../../../../assets/imagesHome/slepcenter.png" alt="">
      </div>
      <div class="Task_attorney--perfiles">
          <div class="Task_attorney--perfil">
              <img src="../../../../assets/imagesHome/thomas.png" alt="Thomas">
              <div class="Task_attorney--perfil-redes">
                  <img src="../../../../assets/imagesHome/Insta.png" alt="instagran">
                  <img src="../../../../assets/imagesHome/Fb.png" alt="facebook">
                  <img src="../../../../assets/imagesHome/Twiter.png" alt="twiter">
                  <img src="../../../../assets/imagesHome/Pintrest.png" alt="pintrest">

                  <div class="Task_attorney--perfil-linea">
                      <img src="../../../../assets/imagesHome/Line_redes.png" alt="">
                  </div>
                  <div class="Task_attorney--perfil-redes-nombre">
                      <h3>Thomas Daniyel</h3>
                      <p>Civil Attorney</p>
                  </div>
              </div>

          </div>
          <div class="Task_attorney--perfil">
              <img src="../../../../assets/imagesHome/nikolona.jpg" alt="Nikolona">
              <div class="Task_attorney--perfil-redes">
                  <img src="../../../../assets/imagesHome/Insta.png" alt="instagran">
                  <img src="../../../../assets/imagesHome/Fb.png" alt="facebook">
                  <img src="../../../../assets/imagesHome/Twiter.png" alt="twiter">
                  <img src="../../../../assets/imagesHome/Pintrest.png" alt="pintrest">

                  <div class="Task_attorney--perfil-linea">
                      <img src="../../../../assets/imagesHome/Line_redes.png" alt="">
                  </div>
                  <div class="Task_attorney--perfil-redes-nombre">
                      <h3>Nikolona Gail</h3>
                      <p>Senior Attorney</p>
                  </div>
              </div>

          </div>
          <div class="Task_attorney--perfil">
              <img src="../../../../assets/imagesHome/michal.jpg" alt="Michal">
              <div class="Task_attorney--perfil-redes">
                  <img src="../../../../assets/imagesHome/Insta.png" alt="instagran">
                  <img src="../../../../assets/imagesHome/Fb.png" alt="facebook">
                  <img src="../../../../assets/imagesHome/Twiter.png" alt="twiter">
                  <img src="../../../../assets/imagesHome/Pintrest.png" alt="pintrest">

                  <div class="Task_attorney--perfil-linea">
                      <img src="../../../../assets/imagesHome/Line_redes.png" alt="">
                  </div>
                  <div class="Task_attorney--perfil-redes-nombre">
                      <h3>Michal David</h3>
                      <p>Criminal Attorney</p>
                  </div>
              </div>

          </div>
      </div>
      <div class="Task_attorney--btn">
          <button>Meet Attorney</button>
      </div>
  </section>
</section>
