<section class="Tarea__trouble">
  <div class="Tarea__trouble--title">
      <h2>If you're in trouble
          we can help.</h2>
          <img src="../../../../assets/imagesHome/slepcenter.png" alt="iconodhb">
  </div>
  <div class="Tarea__trouble--info">
      <p>There are  of Lorem Ipsum available, but the majority have su alteration in some form,
          by injected humour, oir  which don't look even slightly believable.</p>
  </div>
  <div class="Tarea__trouble--notifi">
      <div class="Tarea__trouble--notifi_trusted">
          <div class="Tarea__trouble--notifi_trusted--bucle">
              <img src="../../../../assets/imagesHome/Ellipse 5.png" alt=" bucle">
              <div class="Tarea__trouble--notifi_trusted--bucle-corazon">
                  <img src="../../../../assets/imagesHome/corazon.png" alt="corazon">
                  <p>7230</p>
              </div>
          </div>
          <div class="Tarea__trouble--notifi_trusted--info">
              <h3>Trusted Clients</h3>
              <p>There are of Lorem Ipsum</p>
          </div>
      </div> 
      <div class="Tarea__trouble--notifi_trusted">
          <div class="Tarea__trouble--notifi_trusted--bucle">
              <img src="../../../../assets/imagesHome/Ellipse 6.png" alt="bucle">
              <div class="Tarea__trouble--notifi_trusted--bucle-corazon estrella">
                  <img src="../../../../assets/imagesHome/Star.png" alt="estrella">
                  <p>98%</p>
              </div>

          </div>
          <div class="Tarea__trouble--notifi_trusted--info">
              <h3>Successful Cases</h3>
              <p>There are of Lorem Ipsum</p>
          </div>
      </div>
      <div class="Tarea__trouble--notifi-imagen">
          <img src="../../../../assets/imagesHome/balanza.png" alt="img balanza">
          <div class="Tarea__trouble--notifi-imagen--info">
              <h3>15,890+</h3>
              <p>Criminal Defense Case Served</p>
          </div>

      </div>
  </div>
  <div class="Tarea__trouble--title_meet">
      <img src="../../../../assets/imagesHome/slepcenter.png" alt="iconoshv">
      <h2>Meet The Partners</h2>
      <img src="../../../../assets/imagesHome/slepcenter.png" alt="iconoshv">
  </div>
  <div class="Tarea__trouble--guias">
      <img src="../../../../assets/imagesHome/home.png" alt="Modern">
      <img src="../../../../assets/imagesHome/vs.png" alt="vs">
      <img src="../../../../assets/imagesHome/brand.png" alt="brand">
      <img src="../../../../assets/imagesHome/nature.png" alt="nature">
      <img src="../../../../assets/imagesHome/classic.png" alt="classic">
  </div>
</section>
