<main>
  <section class="meet">
    <div class="task__trouble--title_meet">
      <img src="../../../../assets/imagesHome/slepcenter.png" alt="iconoshv">
      <h2>Meet The Partners</h2>
      <img src="../../../../assets/imagesHome/slepcenter.png" alt="iconoshv">
    </div>
    <div class="task__trouble--guias">
      <img src="../../../../assets/imagesHome/home.png" alt="Modern">
      <img src="../../../../assets/imagesHome/vs.png" alt="vs">
      <img src="../../../../assets/imagesHome/brand.png" alt="brand">
      <img src="../../../../assets/imagesHome/nature.png" alt="nature">
      <img src="../../../../assets/imagesHome/classic.png" alt="classic">
    </div>
  </section>
</main>

